::selection {
  background: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color--light);
}
[data-md-color-scheme="default"] {
  --md-default-bg-color: #eee;

  --armour-color: darkgreen;
  --attack-color: darkred;
  --function-color: darkblue;
  --set-color: darkorange;
  --accent-color: var(--md-accent-fg-color);
}
@media screen {
  [data-md-color-scheme="slate"] {
    --md-hue: 64;

    --armour-color: lightgreen;
    --attack-color: lightcoral;
    --function-color: lightskyblue;
    --set-color: lightpink;
    --accent-color: var(--md-accent-fg-color);
  }
}
.md-header {
  box-shadow: 0 0 20px -10px #000000;
}
.md-tabs {
  background-color: var(--md-primary-fg-color--dark);
  box-shadow: 0 0 20px -10px #000000;
}
.highlighttable .linenos {
  background-color: var(--md-default-bg-color);
}
table {
  box-shadow: 4px 4px 8px 0px #0000007f;
}
table,
td {
  border-width: 0 !important;
}
th {
  background-color: var(--md-primary-fg-color--dark);
  color: var(--md-primary-bg-color);
}
tr:nth-child(even) {
  background-color: var(--md-default-fg-color--lighter);
}
tr:nth-child(odd) {
  background-color: var(--md-default-fg-color--lightest);
}
tr:hover {
  background-color: var(--md-default-fg-color--light) !important;
  box-shadow: none !important;
}
/* formatting for damage calculation table under topic 3.3. */
#cs1 + div table tr:nth-child(2),
#cs1 + div table tr:nth-child(3),
#cs1 + div table tr:nth-child(4) ,
/* formatting for damage calculation table under topic 3.4. */
#cs2 + div table tr:nth-child(3) {
  box-shadow: inset 0 0 8px 2px var(--md-accent-fg-color) !important;
}
